.main {
  display: block;
  /* display: grid; */
  /* justify-content: flex-start; */
  /* grid-template-columns: 68px 243px auto 40%; */
  /* grid-template-columns: 5% 10% 40% 45%; */
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}
.sidebar {
  /* width: 68px; */
  height: 100%;
  border-right: 1px solid #1e2d3d;
}
.menu__wrapper {
  /* width: 243px; */
  height: 100%;
  border-right: 1px solid #1e2d3d;
}
.left__content_wrapper {
  /* width: 50%; */
  height: 100%;
  border-right: 1px solid #1e2d3d;
}
.content__title {
  width: 100%;
  height: 40px;
  border-bottom: 1px solid #1e2d3d;
}
.title__box {
  /* min-width: 150px; */
  height: 100%;
  border-right: 1px solid #1e2d3d;
}
.right__content_wrapper {
  /* width: 55%; */
  height: 100%;
}
