.main {
  display: grid;
  grid-template-columns: 68px 243px auto 40%;
  width: 100%;
  height: 100%;
}
.sidebar {
  /* width: 68px; */
  height: 100%;
  border-right: 1px solid #1e2d3d;
}
.menu__wrapper {
  /* width: 243px; */
  height: 100%;
  border-right: 1px solid #1e2d3d;
}
.left__content_wrapper {
  /* width: 50%; */
  height: 100%;
  border-right: 1px solid #1e2d3d;
}
.text {
  color: white;
  counter-reset: line;
  white-space: pre-wrap;
}
.text::before {
  counter-increment: line;
  content: counter(line) "         *   ";
}
.content__title {
  width: 100%;
  height: 40px;
  border-bottom: 1px solid #1e2d3d;
}
.title__box {
  /* min-width: 150px; */
  height: 100%;
  border-right: 1px solid #1e2d3d;
}
.right__content_wrapper {
  /* width: 55%; */
  height: 100%;
}
