.checkbox 
    display: inline-block
    position: relative
    cursor: pointer
    padding: 18px 14px 30px 14px
   
.check 
    opacity: 0
    position: absolute
    top: 0
    left: 0
    height: 0
    width: 0
.checkmark 
    display: inline-block
    height: 13px
    width: 10px
    background-image: url('./ToogleTwoImg/arrow.svg')
    background-size: contain
    transition: background-image 0.3s
    background-repeat: no-repeat
    background-color: #011627
.check:checked ~ .checkmark 
    background-image: url('./ToogleTwoImg/arrow.svg')
    transform: rotate(90deg)
.dropdown 
    opacity: 0
    transform: translateY(-10px)
    transition: opacity 0.3s ease, transform 0.3s ease
.dropdown.show 
    opacity: 1
    transform: translateY(0)