.divButton
    display: flex
    justify-content: space-between
    align-items: center
    gap: 52px
    max-width: 218px
    height: 42px
    background-color: #011627
    border-right: 1px solid #1E2D3D
.button
    // border: none 
    // background-color:  #011627       
    // margin-right: 8px
    display: flex
    align-items: center
    border: none
    background-color: #011627
    margin-right: 6px
.img
    height: 9.6px
    width: 9.6px
    transform: rotate(90deg)
.text
    font-family: Fira Code
    font-size: 16px
    font-weight: 400
    line-height: 21px
    color: #607B96
    margin-left: 6px
    white-space: nowrap