@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Fira Code', sans-serif;
}

.page{
    background: #010C15;
    height: 100vh;
    width: 100vw;
    padding: 54px;
}

.page__wrapper {
  max-width: 1782px;
  max-height: 941.32px;
  width: 100%;
  height: 100%;
  border: 1px solid #1e2d3d;
  border-radius: 8px;
  background: #011627;
  margin: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
