main {
    padding: 27px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    max-width: 1157px;
    width: 100%;
    margin: 0 auto;
}

.pageHello__text{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 304px;
}

.pageHello__textSuptext{
    font-weight: 450;
    font-size: 18px;
    line-height: 24px;
    color: #E5E9F0;
}

h1{
    font-weight: 400;
    font-size: 62px;
    line-height: 81px;
    color: #E5E9F0;
}

.pageHello__textSubtext{
    font-weight: 450;
    font-size: 32px;
    line-height: 42px;
    color: #4D5BCE;
    /* -webkit-text-stroke: 1px #000000; */
    text-shadow: 0px 0 1px rgba(0, 0, 0, 0.25);
}

.pageHello__text_bottom p{
    font-weight: 450;
    font-size: 16px;
    line-height: 21px;
    color: #607B96;
    margin-bottom: 9.6px;
}

a {
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    color: #E99287;
    text-decoration: none;
}

.pageHello__game{
    position: relative;
    z-index: 10;
    max-height: 475px;
    height: 100%;
    max-width: 510px;
    width: 100%;
}

.game__wrapper{
    position: absolute;
    z-index: 10;
    max-width: 510px;
    width: 100%;
    max-height: 475px;
    height: 100%;
    background: linear-gradient(150.26deg, rgba(23, 85, 83, 0.7) 1.7%, rgba(67, 217, 173, 0.091) 81.82%);
    border: 1px solid #0C1616;
    box-shadow: inset 0px 2px 0px rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(32px);
    border-radius: 8px;
    padding: 35px 35px 35px 30px;
    display: flex;
    justify-content: space-between;
}

.game__field{
    height: 100%;
    width: 100%;
    max-width: 238px;
    z-index: 10;
    background: rgba(1, 22, 39, 0.84);
    box-shadow: inset 1px 5px 11px rgba(2, 18, 27, 0.71);
    border-radius: 8px;
    display: flex;
    justify-content: center;    
    align-items: flex-end;
    margin-right: 24px;
    padding-bottom: 55px;
}

.game__components{

}

.game__control{
    width: 100%;
    max-width: 181px;
    background: rgba(1, 20, 35, 0.19);
    border-radius: 8px;
    padding: 15px 12px 12px 12px;
    font-size: 14px;
}

.bolt__UpLeft{
    position: absolute;
    top: 12px;
    left: 12px;
}

.bolt__UpRight{
    position: absolute;
    top: 12px;
    right: 12px;
}

.bolt__DownLeft{
    position: absolute;
    bottom: 12px;
    left: 12px;
}

.bolt__DownRight{
    position: absolute;
    bottom: 12px;
    right: 12px;
}

.blurGreen{
    z-index: 0;
    position: absolute;
    width: 454px;
    height: 492px;
    top: -140px;
    right: 180px;
    scale: 0.6;
    background: #43D9AD;
    opacity: 0.4;
    filter: blur(87px);
    transform: rotate(-94.3deg);
}
.blurBlue{
    position: absolute;
    width: 454px;
    height: 492px;
    top: 136.65px;
    right: -80px;
    scale: 0.8;
    background: #4D5BCE;
    opacity: 0.4;
    filter: blur(87px);
    transform: rotate(13.51deg);
}

.white{
    color: #FFFFFF;
}

.green{
    color: #43D9AD;
}

.blue{
    color: #4D5BCE;
}

header,footer{
    color:#fff;
}