.wrapper {
  margin: 52px 0;
  /* padding: 0 40px; */
}
.header {
  display: flex;
  width: 100%;
  height: 48px;
}
.user {
  display: flex;
}
.avatar {
  display: block;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  margin-right: 10px;
}
.title {
  width: 150px;
}
.name {
  width: 100%;
  height: 18px;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  /* line-height: 18px; */
  color: #5565e8;
}
.ago {
  width: 100%;
  height: 18px;
  font-style: normal;
  font-weight: 450;
  font-size: 12px;
  line-height: 16px;
  color: #607b96;
}
.reaction {
}
.icon {
}
.text {
}
.content {
  width: 100%;
}

.content table tbody{
    background-color: #011221;
}
/* вмето .blob-code */
.content table tbody :last-child{
    color: #607b96;
}

/* вмето .gist-file */
.content section [translate]{
    border: 1px solid #1E2D3D;
}

/* вмето .gist-data */
.content section [translate] > :first-child{
    border-bottom: 1px solid #1E2D3D;
}

/* вмето .gist-meta */
.content section [translate] :last-child{
    background-color: #011221;
}

.description {
  display: flex;
  /* max-width: 70%; */
  align-items: center;
  margin: 18px 0 0 0;
  padding: 17px 0 12px 0;
  justify-content: space-between;
  padding: 17px 0 12px 0;
  border-top: 1px solid #1e2d3d;
}