.wrapper {
  margin: 52px 0;
}
.header {
  display: flex;
  width: 100%;
  height: 48px;
}
.user {
}
.avatar {
  display: block;
  width: 36px;
  height: 36px;
  border-radius: 50%;
}
.title {
  width: 150px;
}
.name {
  width: 100%;
  height: 18px;
  font-family: "Fira Code";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  color: #5565e8;
}
.ago {
  width: 100%;
  height: 18px;
  font-family: "Fira Code";
  font-style: normal;
  font-weight: 450;
  font-size: 12px;
  line-height: 16px;
  color: #607b96;
}
.reaction {
}
.icon {
}
.text {
}
.content {
  width: 100%;
  /* background: #011221; */
  /* border: 1px solid #1e2d3d;
  border-radius: 15px;
  padding: 12px 15px; */
}
.description {
  display: flex;
  /* max-width: 70%; */
  align-items: center;
  margin: 18px 0 0 0;
  padding: 17px 0 12px 0;
  justify-content: space-between;
  padding: 17px 0 12px 0;
  border-top: 1px solid #1e2d3d;
}
.close__btn {
}
