.footer {
  display: flex;
  justify-content: flex-start;
  outline: 1px solid #607b96;
  border-radius: 0 0 8px 8px;
}
.find {
  display: flex;
  align-items: center;
  width: 146px;
  height: 52px;
  text-indent: 36px;
  font-family: "Fira Code", sans-serif;
  font-style: normal;
  font-weight: 450;
  font-size: 16px;
  line-height: 21px;
  color: #607b96;
  border-radius: 0 0 0 8px;
  border-right: 1px solid #607b96;
}
.instagram {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 52px;
  color: #607b96;
  border-left: 1px solid #607b96;
  border-right: 1px solid #607b96;
}
.facebook {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 52px;
  color: #607b96;
  border-right: 1px solid #607b96;
}
.username {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 161px;
  height: 52px;
  margin-left: auto;
  border-left: 1px solid #607b96;
  border-radius: 0 0 8px 0;
  font-family: "Fira Code", sans-serif;
  font-style: normal;
  font-weight: 450;
  font-size: 16px;
  line-height: 21px;
  color: #607b96;
}
