.wrapper {
  width: 100%;
  max-height: 70vh;
  height: 100%;
  padding: 18px 40px 0 40px;
  overflow: auto;
  font-style: normal;
  font-weight: 450;
  font-size: 18px;
  line-height: 24px;
  color: #607b96;
}
.wrapper::-webkit-scrollbar {
  width: 26px;
}
.wrapper::-moz-scrollbar {
  width: 26px;
}
.wrapper::-ms-scrollbar {
  width: 26px;
}
.wrapper::-webkit-scrollbar-track {
  background-color: #f1f1f1;
  background: #011627;
  border: 1px solid #1e2d3d;
}
.wrapper::-moz-scrollbar-track {
  background-color: #f1f1f1;
  background: #011627;
  border: 1px solid #1e2d3d;
}
.wrapper::-ms-scrollbar-track {
  background-color: #f1f1f1;
  background: #011627;
  border: 1px solid #1e2d3d;
}
.wrapper::-webkit-scrollbar-thumb {
  background-color: #607b96;
}
.wrapper::-moz-scrollbar-thumb {
  background-color: #607b96;
}
.wrapper::-ms-scrollbar-thumb {
  background-color: #607b96;
}
.wrapper::-webkit-scrollbar-thumb:hover {
  filter: brightness(150%);
}
.wrapper::-moz-scrollbar-thumb:hover {
  filter: brightness(150%);
}
.wrapper::-ms-scrollbar-thumb:hover {
  filter: brightness(150%);
}
